# coding: utf-8

"""
    Api

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 1.0.1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class LimitsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def v21_limits_get(self, **kwargs):  # noqa: E501
        """v21_limits_get  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v21_limits_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int reserved: Specify whether the result of resource total includes reserved resources or not.    - ``0``: Not include reserved resources.   - Other than 0: Include reserved resources.  If non integer value is specified, it is the same as ``0``. 
        :param str tenant_id: Specify the project ID (tenant ID) to show the rate and absolute limits. This parameter can be specified by admin only. 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.v21_limits_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.v21_limits_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def v21_limits_get_with_http_info(self, **kwargs):  # noqa: E501
        """v21_limits_get  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v21_limits_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int reserved: Specify whether the result of resource total includes reserved resources or not.    - ``0``: Not include reserved resources.   - Other than 0: Include reserved resources.  If non integer value is specified, it is the same as ``0``. 
        :param str tenant_id: Specify the project ID (tenant ID) to show the rate and absolute limits. This parameter can be specified by admin only. 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['reserved', 'tenant_id']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v21_limits_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'reserved' in params:
            query_params.append(('reserved', params['reserved']))  # noqa: E501
        if 'tenant_id' in params:
            query_params.append(('tenant_id', params['tenant_id']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v2.1/limits', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
