# coding: utf-8

"""
    Api

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 1.0.1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class OsSimpleTenantUsageApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def v21_os_simple_tenant_usage_get(self, **kwargs):  # noqa: E501
        """v21_os_simple_tenant_usage_get  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v21_os_simple_tenant_usage_get(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int detailed: Specify the ``detailed=1`` query parameter to get detail information ('server_usages' information). 
        :param str end: The ending time to calculate usage statistics on compute and storage resources. The date and time stamp format is any of the following ones:  ::     CCYY-MM-DDThh:mm:ss  For example, ``2015-08-27T09:49:58``.  ::     CCYY-MM-DDThh:mm:ss.NNNNNN  For example, ``2015-08-27T09:49:58.123456``.  ::     CCYY-MM-DD hh:mm:ss.NNNNNN  For example, ``2015-08-27 09:49:58.123456``. If you omit this parameter, the current time is used. 
        :param str start: The beginning time to calculate usage statistics on compute and storage resources. The date and time stamp format is any of the following ones:  ::     CCYY-MM-DDThh:mm:ss  For example, ``2015-08-27T09:49:58``.  ::     CCYY-MM-DDThh:mm:ss.NNNNNN  For example, ``2015-08-27T09:49:58.123456``.  ::     CCYY-MM-DD hh:mm:ss.NNNNNN  For example, ``2015-08-27 09:49:58.123456``. If you omit this parameter, the current time is used. 
        :param int limit: Requests a page size of items. Calculate usage for the limited number of instances. Use the ``limit`` parameter to make an initial limited request and use the last-seen instance UUID from the response as the ``marker`` parameter value in a subsequent limited request. 
        :param str marker: The last-seen item. Use the ``limit`` parameter to make an initial limited request and use the last-seen instance UUID from the response as the ``marker`` parameter value in a subsequent limited request. 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.v21_os_simple_tenant_usage_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.v21_os_simple_tenant_usage_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def v21_os_simple_tenant_usage_get_with_http_info(self, **kwargs):  # noqa: E501
        """v21_os_simple_tenant_usage_get  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v21_os_simple_tenant_usage_get_with_http_info(async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param int detailed: Specify the ``detailed=1`` query parameter to get detail information ('server_usages' information). 
        :param str end: The ending time to calculate usage statistics on compute and storage resources. The date and time stamp format is any of the following ones:  ::     CCYY-MM-DDThh:mm:ss  For example, ``2015-08-27T09:49:58``.  ::     CCYY-MM-DDThh:mm:ss.NNNNNN  For example, ``2015-08-27T09:49:58.123456``.  ::     CCYY-MM-DD hh:mm:ss.NNNNNN  For example, ``2015-08-27 09:49:58.123456``. If you omit this parameter, the current time is used. 
        :param str start: The beginning time to calculate usage statistics on compute and storage resources. The date and time stamp format is any of the following ones:  ::     CCYY-MM-DDThh:mm:ss  For example, ``2015-08-27T09:49:58``.  ::     CCYY-MM-DDThh:mm:ss.NNNNNN  For example, ``2015-08-27T09:49:58.123456``.  ::     CCYY-MM-DD hh:mm:ss.NNNNNN  For example, ``2015-08-27 09:49:58.123456``. If you omit this parameter, the current time is used. 
        :param int limit: Requests a page size of items. Calculate usage for the limited number of instances. Use the ``limit`` parameter to make an initial limited request and use the last-seen instance UUID from the response as the ``marker`` parameter value in a subsequent limited request. 
        :param str marker: The last-seen item. Use the ``limit`` parameter to make an initial limited request and use the last-seen instance UUID from the response as the ``marker`` parameter value in a subsequent limited request. 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['detailed', 'end', 'start', 'limit', 'marker']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v21_os_simple_tenant_usage_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'detailed' in params:
            query_params.append(('detailed', params['detailed']))  # noqa: E501
        if 'end' in params:
            query_params.append(('end', params['end']))  # noqa: E501
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'marker' in params:
            query_params.append(('marker', params['marker']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v2.1/os-simple-tenant-usage', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def v21_os_simple_tenant_usage_tenant_id_get(self, tenant_id, **kwargs):  # noqa: E501
        """v21_os_simple_tenant_usage_tenant_id_get  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v21_os_simple_tenant_usage_tenant_id_get(tenant_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str tenant_id: The UUID of the tenant in a multi-tenancy cloud.  (required)
        :param str end: The ending time to calculate usage statistics on compute and storage resources. The date and time stamp format is any of the following ones:  ::     CCYY-MM-DDThh:mm:ss  For example, ``2015-08-27T09:49:58``.  ::     CCYY-MM-DDThh:mm:ss.NNNNNN  For example, ``2015-08-27T09:49:58.123456``.  ::     CCYY-MM-DD hh:mm:ss.NNNNNN  For example, ``2015-08-27 09:49:58.123456``. If you omit this parameter, the current time is used. 
        :param str start: The beginning time to calculate usage statistics on compute and storage resources. The date and time stamp format is any of the following ones:  ::     CCYY-MM-DDThh:mm:ss  For example, ``2015-08-27T09:49:58``.  ::     CCYY-MM-DDThh:mm:ss.NNNNNN  For example, ``2015-08-27T09:49:58.123456``.  ::     CCYY-MM-DD hh:mm:ss.NNNNNN  For example, ``2015-08-27 09:49:58.123456``. If you omit this parameter, the current time is used. 
        :param int limit: Requests a page size of items. Calculate usage for the limited number of instances. Use the ``limit`` parameter to make an initial limited request and use the last-seen instance UUID from the response as the ``marker`` parameter value in a subsequent limited request. 
        :param str marker: The last-seen item. Use the ``limit`` parameter to make an initial limited request and use the last-seen instance UUID from the response as the ``marker`` parameter value in a subsequent limited request. 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.v21_os_simple_tenant_usage_tenant_id_get_with_http_info(tenant_id, **kwargs)  # noqa: E501
        else:
            (data) = self.v21_os_simple_tenant_usage_tenant_id_get_with_http_info(tenant_id, **kwargs)  # noqa: E501
            return data

    def v21_os_simple_tenant_usage_tenant_id_get_with_http_info(self, tenant_id, **kwargs):  # noqa: E501
        """v21_os_simple_tenant_usage_tenant_id_get  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v21_os_simple_tenant_usage_tenant_id_get_with_http_info(tenant_id, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str tenant_id: The UUID of the tenant in a multi-tenancy cloud.  (required)
        :param str end: The ending time to calculate usage statistics on compute and storage resources. The date and time stamp format is any of the following ones:  ::     CCYY-MM-DDThh:mm:ss  For example, ``2015-08-27T09:49:58``.  ::     CCYY-MM-DDThh:mm:ss.NNNNNN  For example, ``2015-08-27T09:49:58.123456``.  ::     CCYY-MM-DD hh:mm:ss.NNNNNN  For example, ``2015-08-27 09:49:58.123456``. If you omit this parameter, the current time is used. 
        :param str start: The beginning time to calculate usage statistics on compute and storage resources. The date and time stamp format is any of the following ones:  ::     CCYY-MM-DDThh:mm:ss  For example, ``2015-08-27T09:49:58``.  ::     CCYY-MM-DDThh:mm:ss.NNNNNN  For example, ``2015-08-27T09:49:58.123456``.  ::     CCYY-MM-DD hh:mm:ss.NNNNNN  For example, ``2015-08-27 09:49:58.123456``. If you omit this parameter, the current time is used. 
        :param int limit: Requests a page size of items. Calculate usage for the limited number of instances. Use the ``limit`` parameter to make an initial limited request and use the last-seen instance UUID from the response as the ``marker`` parameter value in a subsequent limited request. 
        :param str marker: The last-seen item. Use the ``limit`` parameter to make an initial limited request and use the last-seen instance UUID from the response as the ``marker`` parameter value in a subsequent limited request. 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['tenant_id', 'end', 'start', 'limit', 'marker']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v21_os_simple_tenant_usage_tenant_id_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'tenant_id' is set
        if self.api_client.client_side_validation and ('tenant_id' not in params or
                                                       params['tenant_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `tenant_id` when calling `v21_os_simple_tenant_usage_tenant_id_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'tenant_id' in params:
            path_params['tenant_id'] = params['tenant_id']  # noqa: E501

        query_params = []
        if 'end' in params:
            query_params.append(('end', params['end']))  # noqa: E501
        if 'start' in params:
            query_params.append(('start', params['start']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'marker' in params:
            query_params.append(('marker', params['marker']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v2.1/os-simple-tenant-usage/{tenant_id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
