# coding: utf-8

"""
    Api

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 1.0.1
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class ServersRemoteConsolesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def v21_os_console_auth_tokens_console_token_get(self, console_token, **kwargs):  # noqa: E501
        """v21_os_console_auth_tokens_console_token_get  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v21_os_console_auth_tokens_console_token_get(console_token, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str console_token: Console authentication token.  (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.v21_os_console_auth_tokens_console_token_get_with_http_info(console_token, **kwargs)  # noqa: E501
        else:
            (data) = self.v21_os_console_auth_tokens_console_token_get_with_http_info(console_token, **kwargs)  # noqa: E501
            return data

    def v21_os_console_auth_tokens_console_token_get_with_http_info(self, console_token, **kwargs):  # noqa: E501
        """v21_os_console_auth_tokens_console_token_get  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v21_os_console_auth_tokens_console_token_get_with_http_info(console_token, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str console_token: Console authentication token.  (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['console_token']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v21_os_console_auth_tokens_console_token_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'console_token' is set
        if self.api_client.client_side_validation and ('console_token' not in params or
                                                       params['console_token'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `console_token` when calling `v21_os_console_auth_tokens_console_token_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'console_token' in params:
            path_params['console_token'] = params['console_token']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v2.1/os-console-auth-tokens/{console_token}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def v21_servers_server_id_remote_consoles_post(self, server_id, create_vnc_console_req, **kwargs):  # noqa: E501
        """v21_servers_server_id_remote_consoles_post  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v21_servers_server_id_remote_consoles_post(server_id, create_vnc_console_req, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str server_id: The UUID of the server.  (required)
        :param CreateVncConsoleReq create_vnc_console_req: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.v21_servers_server_id_remote_consoles_post_with_http_info(server_id, create_vnc_console_req, **kwargs)  # noqa: E501
        else:
            (data) = self.v21_servers_server_id_remote_consoles_post_with_http_info(server_id, create_vnc_console_req, **kwargs)  # noqa: E501
            return data

    def v21_servers_server_id_remote_consoles_post_with_http_info(self, server_id, create_vnc_console_req, **kwargs):  # noqa: E501
        """v21_servers_server_id_remote_consoles_post  # noqa: E501

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.v21_servers_server_id_remote_consoles_post_with_http_info(server_id, create_vnc_console_req, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str server_id: The UUID of the server.  (required)
        :param CreateVncConsoleReq create_vnc_console_req: (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['server_id', 'create_vnc_console_req']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method v21_servers_server_id_remote_consoles_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'server_id' is set
        if self.api_client.client_side_validation and ('server_id' not in params or
                                                       params['server_id'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `server_id` when calling `v21_servers_server_id_remote_consoles_post`")  # noqa: E501
        # verify the required parameter 'create_vnc_console_req' is set
        if self.api_client.client_side_validation and ('create_vnc_console_req' not in params or
                                                       params['create_vnc_console_req'] is None):  # noqa: E501
            raise ValueError("Missing the required parameter `create_vnc_console_req` when calling `v21_servers_server_id_remote_consoles_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'server_id' in params:
            path_params['server_id'] = params['server_id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'create_vnc_console_req' in params:
            body_params = params['create_vnc_console_req']
        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/v2.1/servers/{server_id}/remote-consoles', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
